@using Microsoft.AspNet.Identity.Owin;
@using RSToolKit.Domain.Entities.Navigation;
@{
    Layout = null;
    var pheromone = (ViewBag.Pheromone as Pheromone);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--#region Meta Data-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/favicon.ico">
    <title>@ViewBag.Title</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="RegStep Technologies" />
    <!--#endregion-->
    <!--#region css-->
    <link href="~/Content/toolkit/b_toolkit.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <style type="text/css">
        .btn-file {
          position: relative;
          overflow: hidden;
        }
        .btn-file input[type=file] {
          position: absolute;
          top: 0;
          right: 0;
          min-width: 100%;
          min-height: 100%;
          font-size: 100px;
          text-align: right;
          filter: alpha(opacity=0);
          opacity: 0;
          background: red;
          cursor: inherit;
          display: block;
        }
        input[readonly] {
          background-color: white !important;
          cursor: text !important;
        }
    </style>
    <!--#endregion-->
    <!--#region IE9 and earlier-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <!--#endregion-->
</head>
<body>
    <!--#region toolkit.js values-->
    <input type="hidden" id="toolkitGlobal_jsonAntiForgeryToken" value="@Html.JsonAntiforgeryToken()">
    <input type="hidden" id="toolkitGlobal_companyId" value="@((ViewBag.User as User).GetCurrentCompanyKey().ToString())" />
    @if (pheromone != null)
    {
        <input type="hidden" id="pheromone" value="@JsonConvert.SerializeObject(pheromone)" />
    }
    <!--#endregion-->
    <!--#region Account Manager-->
    <div class="modal fade" id="account-manager">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3 class="modal-title">Account Manager</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        Jason White
                        <br />888-444-9879 ext 828
                        <br /><a class="text-color-1" href="mailto:jason@regstep.com" target="_blank">jason@regstep.com</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <!--#endregion-->
    <!--#region Wrapper-->
    <div class="container-fluid">
        <!--#region Header-->
        <header>
            <div class="container-fluid color-white">
                <!--Logo Bar-->
                <div class="row add-padding-vertical-5">
                    <div class="col-sm-6">
                        <img class="img-displayed img-max-width-fixed-200 img-left" src="/images/common/regstep.png" alt="RegStep" />
                    </div>
                    <div class="col-sm-6 text-align-right">
                        <div class="btn-group btn-group-header">
                            <button type="button" class="btn btn-default btn-header dropdown-toggle" data-toggle="dropdown">
                                @((ViewBag.User as User).GetCurrentCompany().Name) <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    @Html.ActionLink("My Account", "MyAccount", "Account", null, null)
                                </li>
                                <!--<li>
                                    @Html.ActionLink("Company Settings", "Company", "Account", null, null)
                                </li>
                                <li>
                                    @Html.ActionLink("Merchant Accounts", "MerchantAccounts", "Cloud", null, null)
                                </li>
                                <li>
                                    @Html.ActionLink("My Billing", "MyBilling", "Account", null, null)
                                </li>-->
                                <li>
                                    @Html.ActionLink("Log Out", "LogOff", "Account", null, null)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End Logo Bar-->
                <!--Navigation-->
                <div class="row add-padding-top-5 color-grey-4">
                    <div class="col-xs-12">
                        <nav class="navbar navbar-utility" role="navigation">
                            <div class="container-fluid">
                                <!--Mobile Items-->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav2">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <!--End Mobile Items-->
                                <!--Nav Items-->
                                <div class="collapse navbar-collapse" id="nav2">
                                    <ul class="nav navbar-nav">
                                        <!--ToolKit Logo-->
                                        <li>
                                            <a class="text-color-white text-bold">
                                                RS ToolKit:
                                            </a>
                                        </li>
                                        <!--End ToolKit Logo-->
                                        @if (User.IsInRole("Cloud Users") || User.IsInRole("Super Administrators") || User.IsInRole("Administrators") || User.IsInRole("Programmers"))
                                        {
                                            <!--Cloud-->
                                            <li class="dropdown cloud">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                    Cloud <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        @Html.ActionLink("Cloud Dashboard", "Index", "Cloud", null, null)
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Get", "FormReport", new { id = -1 })">Forms & Survey Reports</a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("List", "GlobalReport")">Global Reports</a>
                                                    </li>

                                                    @if (User.IsInRole("Cloud+ Users") || User.IsInRole("Super Administrators") || User.IsInRole("Administrators") || User.IsInRole("Programmers"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("Contact List", "Contacts", "Cloud2", null, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("Static Lists", "SavedLists", "Cloud2", null, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("Dynamic Lists", "ContactReports", "Cloud2", null, null)
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("Upload", "Contact", null)" >Upload Contacts</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                            <!--End Cloud-->
                                        }
                                        @if (User.IsInRole("Form Builders") || User.IsInRole("Super Administrators") || User.IsInRole("Administrators") || User.IsInRole("Programmers"))
                                        {
                                            <!--FormBuilder-->
                                            <li class="dropdown forms">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                    Forms &amp; Surveys <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        @Html.ActionLink("Forms & Surveys", "Index", "FormBuilder", null, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("Types", "Types", "FormBuilder", null, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("Tags", "Tags", "FormBuilder", null, null)
                                                    </li>
                                                </ul>
                                            </li>
                                            <!--End FormBuilder-->
                                        }
                                        @if (User.IsInRole("Email Users") || User.IsInRole("Super Administrators") || User.IsInRole("Administrators") || User.IsInRole("Programmers"))
                                        {
                                            <!--EmailBuilder-->
                                            <li class="mail">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                    Emails <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        @Html.ActionLink("Email Campaigns", "EmailCampaigns", "Email", null, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("Form Emails", "Forms", "Email", null, null)
                                                    </li>
                                                </ul>
                                            </li>
                                            <!--End EmailBuilder-->
                                        }
                                        @if (User.IsInRole("Super Administrators") || User.IsInRole("System Administrators") || User.IsInRole("Administrators") || User.IsInRole("Company Administrators"))
                                        {

                                            <!--Administration-->
                                            <li class="dropdown admin">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                    Admin <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>@Html.ActionLink("Home", "Index", "CompanyAdmin", null, null)</li>
                                                    <li>@Html.ActionLink("Company Information", "Company", "CompanyAdmin", null, null)</li>
                                                    <li>@Html.ActionLink("Company Users", "Users", "CompanyAdmin", null, null)</li>
                                                    <li>@Html.ActionLink("Company Groups", "CompanyGroups", "CompanyAdmin", null, null)</li>
                                                    <li><a href="@Url.Action("List", "MerchantAccount", null)">Merchant Accounts</a></li>
                                                    <li>@Html.ActionLink("Access Log", "AccessLog", "CompanyAdmin", null, null)</li>
                                                    @if (User.IsInRole("Super Administrators"))
                                                    {
                                                        <li>@Html.ActionLink("Tiny Urls", "TinyUrls", "CompanyAdmin", null, null)</li>
                                                    }
                                                </ul>
                                            </li>
                                        <!--End Administration-->
                                        }
                                        @if (User.IsInRole("Super Administrators") || User.IsInRole("System Administrators") || User.IsInRole("Administrators"))
                                        {

                                            <!--Administration-->
                                            <li class="dropdown rs-admin">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                    RegStep Admin <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>@Html.ActionLink("Home", "Index", "SystemAdministration", null, null)</li>
                                                    <li><a href="@Url.Action("List", "Company")">Companies</a></li>
                                                    <li>
                                                        @Html.ActionLink("Change Company", "ChangeCompany", "Account", null, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        <!--End Administration-->
                                        }
                                    </ul>
                                </div>
                                <!--End Nav Items-->
                            </div>
                        </nav>
                    </div>
                </div>
                <!--End Navigation-->
            </div>
        </header>
        <!--#endregion-->
        <!--#region Render Body-->
        <div class="container-fluid container-content color-white add-padding-vertical">
            <div class="row">
                <div class="col-xs-12">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!--#endregion-->
        <!--#region Footer-->
        <footer>
            <div class="container-fluid text-align-center add-padding-vertical-5 text-small text-color-white">
                &copy; 2013-@DateTime.UtcNow.Year RegStep Technologies
            </div>
        </footer>
        <!--#endregion-->
    </div>
    <!--#endregion-->
    <!--#region Modals-->
    @RenderSection("modals", required: false)
    <!--#endregion-->
    <!--#region Javascript in Footer-->
    @Scripts.Render("~/bundles/scripts/jquery")
    @Scripts.Render("~/bundles/scripts/bootstrap")
    @Scripts.Render("~/bundles/scripts/extensions")
    @Scripts.Render("~/bundles/scripts/toolkit")
    @RenderSection("scripts", required: false)
    <!--#endregion-->
</body>
</html>