@using Microsoft.AspNet.Identity.Owin;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="RegStep Technologies" />

    <!--CSS-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/2-regstep.min.css" rel="stylesheet" />
    <link href="~/Content/3-colors.min.css" rel="stylesheet" />
    <link href="~/Content/4-nav.min.css" rel="stylesheet" />
    <link href="~/Content/5-tools.min.css" rel="stylesheet" />
    <link href="~/Content/6-site.min.css" rel="stylesheet" />


    @RenderSection("styles", required: false)


    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/scripts/respond.js"></script>

    <script type="text/javascript">
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body style="background: white;">

    <!--Wrapper-->
    <div class="container-fluid">
        <!--Work Area-->
        <div class="container-fluid add-padding-vertical-4em">
            @RenderBody()
        </div>
        <!--End Work Area-->
    </div>
    <!--End Wrapper-->
    <!-- Modals -->
    @RenderSection("modals", required: false)

    <!-- End Modals -->
    <!-- JavaScript Section-->
    @RenderSection("scripts", required: false)

    <!-- End Javascript Section -->


</body>
</html>