<div>@Html.ActionLink("New Form", "NewForm", "FormBuilder", new { cid = ViewBag.Company }, null)</div>
<div>@Html.ActionLink("New Folder", "NewFolder", "FormBuilder", new { cid = ViewBag.Company }, null)</div>
<div>@Html.ActionLink("Edit Tags", "Tags", "FormBuilder", new { cid = ViewBag.Company }, null)</div>
<div>@Html.ActionLink("Edit Types", "Types", "FormBuilder", new { cid = ViewBag.Company }, null)</div>
<div>@Html.ActionLink("Images", "Images", "FormBuilder", new { cid = ViewBag.Company }, null)</div>
