@using RSToolKit.Domain.Entities;
@model Form
@{
    Layout = "~/Views/Shared/_Layout_FormBuilder.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        var formId = "@Model.UId";
    </script>
}
@section styles
{
}
@section title {
    Manage Capacity Limits
}
@section breadcrumbs {
    @Html.ActionLink("Forms", "Index", "FormBuilder")
    <span class="glyphicon glyphicon-chevron-right glyphicon-small"></span> @Html.ActionLink((Model.Name.Length < 20 ? Model.Name : Model.Name.Substring(0, 20)), "Form", "FormBuilder", new { id = Model.UId }, null)
    <span class="glyphicon glyphicon-chevron-right glyphicon-small"></span> Capacity Limits
}
@section modals
{
}
@Html.AntiForgeryToken()
    <div class="col-xs-12">

        <div class="add-padding-bottom-5 text-medium text-color-2">
            Capacity Limits
        </div>

        <div class="row add-padding-vertical-5 color-grey-2">
            <div class="col-xs-12">
                <a href="@Url.Action("Seating", "FormBuilder", null, Request.Url.Scheme)" data-xhr-method="post" data-xhr-options='{ "id": "@Model.UId" }'><span class="glyphicon glyphicon-plus"></span> Add Capacity Limit</a>
            </div>
        </div>

        <div class="row">
            <table class="table table-striped table-seatings">
                <tbody>
                    @foreach (var seating in Model.Seatings)
                    {
                        <tr>
                            <td>@seating.Name</td>
                            <td><a href="@Url.Action("Seating", "FormBuilder", new { id = seating.UId })"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
                            <td><a href="@Url.Action("Seating", "FormBuilder", null, Request.Url.Scheme)" data-xhr-method="delete" data-xhr-options='{ "id": "@seating.UId" }' data-xhr-oncomplete="refresh"><span class="glyphicon glyphicon-trash"></span> Delete</a></td>
                            <td class="Fill"></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
