@using RSToolKit.Domain.Entities;
@model List<Tag>
@{
    Layout = "~/Views/Shared/_Layout_FormBuilder.cshtml";
}
@section scripts
{
    <script type="text/javascript">
    </script>
}
@section styles
{
}
@section title {
    Tags
}
@section breadcrumbs {
    @Html.ActionLink("Forms", "Index", "FormBuilder")
    <span class="glyphicon glyphicon-chevron-right glyphicon-small"></span> Tags
}
@section modals
{
}
@Html.AntiForgeryToken()
    <div class="col-xs-12">

        <div class="add-padding-bottom-5 text-medium text-color-2">
            Form Tags
        </div>

        <div class="row add-padding-vertical-5 color-grey-2">
            <!--Add Panel-->
            <div class="col-xs-12">
                <span class="modal-link">
                    <a href="@Url.Action("Tag", "FormBuilder", null, Request.Url.Scheme)" data-xhr-method="post"><span class="glyphicon glyphicon-plus"></span> New Tag</a>
                </span>
            </div>
        </div>

        <div class="row">
            <table id="ItemList" class="table table-striped audience-table">
                <tbody>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        var tag = Model[i];
                        <tr>

                            <td>@tag.Name</td>
                            <td><span class="glyphicon glyphicon-edit"></span> @Html.ActionLink("Edit", "Tag", "FormBuilder", new { id = tag.UId }, null)</td>
                            <td><a href="@Url.Action("Tag", "FormBuilder", null, Request.Url.Scheme)" data-xhr-method="delete" data-xhr-options='{ "id": "@tag.UId" }' data-xhr-oncomplete="refresh"></a><span class="glyphicon glyphicon-trash"></span> Delete</td>
                            <td class="Fill"></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
