@{
    ViewBag.Title = "Index";
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/favicon.ico">
    <title>Unsubscribed</title>

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="RegStep Technologies" />

    <!--CSS-->
    <link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/2-regstep.min.css" rel="stylesheet" />
    <link href="~/Content/3-colors.min.css" rel="stylesheet" />
    <link href="~/Content/4-nav.min.css" rel="stylesheet" />
    <link href="~/Content/5-tools.min.css" rel="stylesheet" />
    <link href="~/Content/6-site.min.css" rel="stylesheet" />

    @RenderSection("styles", required: false)

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container-fluid">
        <!--#region Header-->
        <header>
            <div class="container-fluid color-white">
                <!--Logo Bar-->
                <div class="row add-padding-vertical-5">
                    <div class="col-sm-6">
                        <img class="img-displayed img-max-width-fixed-200 img-left" src="/images/common/regstep.png" alt="RegStep" />
                    </div>
                    <div class="col-sm-6 text-align-right">
                        <div class="btn-group btn-group-header">
                            <button type="button" class="btn btn-default btn-header dropdown-toggle" data-toggle="dropdown">
                                @((ViewBag.User as User).GetCurrentCompany().Name) <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    @Html.ActionLink("My Account", "MyAccount", "Account", null, null)
                                </li>
                                <!--<li>
                                    @Html.ActionLink("Company Settings", "Company", "Account", null, null)
                                </li>
                                <li>
                                    @Html.ActionLink("Merchant Accounts", "MerchantAccounts", "Cloud", null, null)
                                </li>
                                <li>
                                    @Html.ActionLink("My Billing", "MyBilling", "Account", null, null)
                                </li>-->
                                <li>
                                    @Html.ActionLink("Log Out", "LogOff", "Account", null, null)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End Logo Bar-->
            </div>
        </header>
        <!--#endregion-->
        <!--#region Render Body-->
        <div class="container-fluid container-content color-white add-padding-vertical">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-12 text-center">
                    <h3>You have successfuly unsubscribed.</h3>
                </div>
            </div>
        </div>
        <!--#endregion-->
        <!--#region Footer-->
        <footer>
            <div class="container-fluid text-align-center add-padding-vertical-5 text-small text-color-white">
                &copy; 2013-@DateTime.UtcNow.Year RegStep Technologies
            </div>
        </footer>
        <!--#endregion-->
    </div>
</body>
</html>